@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #fffa;
  --color: #222;
  --line: #ddd;
  --primary: #192a39;
}

a {
  font-weight: 500;
  color: #3f438d;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.7em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --background: #fffc;
    --line: #8884;
    --color: #222;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #090e12;
    --background: #151a1fcc;
    --color: #aaa;
    --line: #8884;
  }
}

code {
  color: #484b88;
}

[data-theme="dark"] code {
  color: #9ca0f6;
}

@layer base {
  :root {
    --chart-1: hsl(207, 82%, 38%);
    --chart-2: hsl(341, 52%, 42%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);
  }

  .dark {
    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(336, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);
  }
}

.recharts-default-tooltip,
.recharts-wrapper > svg > * {
  fill: var(--line);
  background-color: var(--background) !important;
}

.recharts-cartesian-grid > g > line {
  stroke: var(--line);
}
[data-theme="dark"] .recharts-default-tooltip > * > * {
  filter: brightness(2);
}
.recharts-wrapper {
  border-radius: 23px;
  overflow: hidden;
}
.recharts-wrapper:hover:active > * > * {
  fill: var(--primary);
}

.recharts-tooltip-wrapper > * {
  backdrop-filter: blur(10px);
  /* outline: none !important; */
  border: 2px solid var(--line) !important;
  border-radius: 10px;
  /* stroke: none !important; */
}
